.titles {
  text-align: center;
}

.titles h4 {
  margin: 0;
  color: var(--link, #3faae5);
  font-family: Geomanist;
  font-size: 22px;
  letter-spacing: 3.96px;
  margin-bottom: 13px;
}

.titles span {
  color: var(--main-color, #242a3a);
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
}

@media screen and (width < 1400px) {
  .titles span {
    font-size: 36px;
  }
  .titles h4 {
    font-size: 20px;
  }
}

@media screen and (width < 1100px) {
  .titles h4 {
    font-size: 18px;
  }
  .titles span {
    font-size: 34px;
  }
}

@media screen and (width < 900px) {
  .titles h4 {
    font-size: 16px;
  }
  .titles span {
    font-size: 32px;
  }
}

@media screen and (width < 600px) {
  .titles h4 {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .titles span {
    font-weight: 700;
    font-size: 22px;
  }
}

@media screen and (width < 400px) {
  .titles h4 {
    font-size: 10px;
    letter-spacing: 2.4px;
  }
  .titles span {
    font-size: 18px;
  }
}
